/* Modified from <https://github.com/richleland/pygments-css/blob/master/default.css>.
 * That repository uses The Unlicense:
 * <https://github.com/richleland/pygments-css/blob/master/UNLICENSE.txt>.
 */
.highlight .hll, .codehilite .hll { background-color: #ffffcc }
.highlight .c, .codehilite .c { color: #408080; font-style: italic } /* Comment */
.highlight .err, .codehilite .err { border: 1px solid #FF0000 } /* Error */
.highlight .k, .codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o, .codehilite .o { color: #666666 } /* Operator */
.highlight .ch, .codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm, .codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp, .codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf, .codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c, .codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs, .codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd, .codehilite .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge, .codehilite .ge { font-style: italic } /* Generic.Emph */
.highlight .gr, .codehilite .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh, .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi, .codehilite .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go, .codehilite .go { color: #888888 } /* Generic.Output */
.highlight .gp, .codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs, .codehilite .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu, .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt, .codehilite .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc, .codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd, .codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn, .codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp, .codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr, .codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt, .codehilite .kt { color: #B00040 } /* Keyword.Type */
.highlight .m, .codehilite .m { color: #666666 } /* Literal.Number */
.highlight .s, .codehilite .s { color: #BA2121 } /* Literal.String */
.highlight .na, .codehilite .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb, .codehilite .nb { color: #008000 } /* Name.Builtin */
.highlight .nc, .codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no, .codehilite .no { color: #880000 } /* Name.Constant */
.highlight .nd, .codehilite .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni, .codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne, .codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf, .codehilite .nf { color: #0000FF } /* Name.Function */
.highlight .nl, .codehilite .nl { color: #A0A000 } /* Name.Label */
.highlight .nn, .codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt, .codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv, .codehilite .nv { color: #19177C } /* Name.Variable */
.highlight .ow, .codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w, .codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb, .codehilite .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf, .codehilite .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh, .codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi, .codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo, .codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa, .codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb, .codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc, .codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl, .codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd, .codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s, .codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se, .codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh, .codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si, .codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx, .codehilite .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr, .codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s, .codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss, .codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp, .codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm, .codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc, .codehilite .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg, .codehilite .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi, .codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm, .codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il, .codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
