<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title != "Content Creation Wiki" %}{{ page.title }} - {% endif %}Content Creation Wiki</title>
    <style type="text/css">
{% include default.css %}

{% include code.css %}
    </style>
  </head>
  <body>
    <nav>
      <div style="float:left;">
        <a href="{{ site.url }}">Home</a>
        | <a href="https://github.com/riceissa/contentcreation">Fork me on GitHub</a>
      </div>
      <div style="float:right;">
        <a href="https://github.com/riceissa/contentcreation/edit/master/{{ page.path }}">Edit</a>
        | <a href="https://raw.githubusercontent.com/riceissa/contentcreation/master/{{ page.path }}">View source</a>
        | <a href="https://github.com/riceissa/contentcreation/commits/master/{{ page.path }}">View history</a>
      </div>
    </nav>
    <header>
      <h1>{{ page.title }}</h1>
    </header>

<article>

{{ content }}

</article>

  <footer>
  <hr />
  <p>
    To the extent possible under law, the contributors to this site have waived
    all copyright and related or neighboring rights to the content on this
    page. This work is published from: United States.
    See the
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0
      1.0 Universal Public Domain Dedication</a>
    for more information.
  </p>
  </footer>

    <script src="/assets/javascript/anchor-js/anchor.min.js"></script>
    <script>anchors.add();</script>
  </body>
</html>
